<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
</head>

	<body>
		<h1>Add new book</h1>
		
		<!-- form to add new book -->
		<form th:object="${book}" th:action="@{savebook}" action="#" method="post">
			
			<!-- input for title -->
			<label for="title" >Title:</label>
			<input type="text" id="title" th:field="*{title}"  />
			
			<!-- input for author -->
			<label for="author" >Author:</label>
			<input type="text" id="author" th:field="*{author}"  />
			
			
			<!-- input for book category -->
			<label for="categories">Category:</label>
			<select id="categories" th:field="*{category}" >
				<option th:each="category : ${categories}"
						th:value="${category.categoryId}" 
						th:text="${category.name}">
			</select>
			
			
			<!-- input for isbn -->
			<label for="isbn" >ISBN:</label>
			<input type="text" id="title" th:field="*{isbn}"  />
			
			<!-- input for year -->
			<label for="year" >Year:</label>
			<input type="number" id="year" th:field="*{year}"  />
			
			<!-- input for price -->
			<label for="price" >Price:</label>
			<input type="number" step="0.01" id="price" th:field="*{price}"  />
			
			<!-- input to submit form -->
			<input type="submit" value="Save book" />
			
		</form>
		
		
	</body>
</html>